/* sub-style.css */
:root {
    --bg-color:#F7F8FF;
    --text-color:#434656;
    --main-color1: #341986;
    --main-color2:#3AA9EA;
    --secondary-color1:#BAE5FF;
    --secondary-color2:#DFD4FF;
}

@font-face {
    font-family: "SCDream";
    src: url(../fonts/SCDream4.otf);
}

body {
    font-family: 'Montserrat', 'SCDream';
    margin: 0 auto;
}

/* .container {
    height: 6480px;
    background-image: url(../images/grazie-info.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
} */

.container {
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

.container img {
    width: 1600px;
}

.container a {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: var(--text-color);
    border: 3px solid var(--main-color1);
    border-radius: 25px;
    padding: 10px 40px;
    position: absolute;
    top: 370px;
    left: 105px;
}


.container a:hover {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    border: 3px solid var(--main-color1);
    background-color: var(--main-color1);
    transition: 0.3s;
    border-radius: 25px;
    padding: 10px 40px;
    position: absolute;
    top: 370px;
    left: 105px;
}